.discord-status {
  -webkit-text-decoration: underline 5px var(--red);
  text-decoration: underline 5px var(--red);
  -webkit-animation-name: underlineanimation;
  animation-name: underlineanimation;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.top-text p {
  margin-top: -15px;
  color: var(--gray);
  font-weight: lighter;
}

.yellow-line {
  text-indent: -9999px;
  margin-top: 0.4rem;
  background-color: var(--inf-yellow);
}

.shard-info {
  background-color: var(--darkest);
  display: inline-block;
  margin: auto;
  padding: 0.9rem 5rem;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.shard-info:hover {
  -webkit-box-shadow: 0 0 15px var(--lighter-dark);
  box-shadow: 0 0 15px var(--lighter-dark);
}

.dropdown {
  padding: 5px 5px;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #42424d;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.green {
  color: var(--green);
}

.red {
  color: var(--red);
}

.orange {
  color: var(--orange);
}

.purple {
  color: var(--purple);
}

.yellow {
  color: var(--inf-yellow);
}

.grey {
  color: var(--gray);
}

#dsc-status {
  display: none;
}